
#header {
    background-color: var(--background);
    padding-block: 20px;
    overflow: hidden;
}

.header{
    animation: header 2s ease-in-out alternate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav{
        display: flex;
        gap: 40px;
        a{
            font-size: var(--a-tag);
            
            position: relative;
            z-index: 2;
            font-weight: 500;
            color: var(--a-tag);
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.3s;
            &:hover{
                border-bottom: 2px solid var(--a-tag);
                transition: 0.5s;
            }
        }
    }
    .btn-sign{
        position: relative;
        z-index: 2;
        display: flex;
        gap: 13px;
        button:first-child{
        font-size: var(--spacing-small);
        border: none;
        font-weight: 500;
        padding: 8px 23px;
        background: none;
        border-radius: 25px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-weight: 600;
        transition: background-color 0.3s;
        &:hover{
            background-color: var(--yellow);
            color: black;
            transform: scale(1.1);
            transition: 0.6s;
        }
        }
        button:last-child{
        font-size: var(--spacing-small);
        font-weight: 500;
        padding: 8px 29px;
        background: var(--yellow);
        border-radius: 25px;
        color: black;
        border: none;
        font-weight: 600;
        transition: background-color 0.3s;
        &:hover{
            background-color: var(--dark-light);
            color: white;
            transform: scale(1.1);
            transition: 0.6s;
        }
        }
    }
    
}


