#hero{
    background: var(--background);
    padding-block: 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 120px;
}

.background-line{
    position: absolute;
    z-index: -1;
    top: -120px;
    left: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 800px;
}


.hero{
    display: flex;
    justify-content: space-between;
    .hero-text{
        animation: hero-text 2s ease-in-out alternate;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            color: white;
            font-size: 55px;
            font-weight: 700;
            line-height: 60px;
        }
        .p-hero{
            font-size: 18px;
            line-height: 23px;
            font-weight: 500;
            color: var(--a-tag);
            padding-top: 30px;
            padding-bottom: 40px;
        }

        .btn-hero{
        display: flex;
        gap: 20px;
        button:first-child{
        display: flex;
        font-size: var(--spacing-small);
        padding: 13px 29px;
        background: var(--yellow);
        border-radius: 25px;
        color: black;
        border: none;
        font-weight: 400;
        background: linear-gradient(90deg, #F0E714, #101C26, #F0E714);
        background-size: 200% 100%;
        animation: shine 4s infinite;
        
        &:hover{
           transform: scale(1.1);
        transition: 0.6s;
        }
    }
        button:last-child{
            display: flex;
            background: none;
            color: white;
            font-size: var(--spacing-small);
            white-space: nowrap;
            align-items: center;
            img{
                width: 35px;
                padding-right: 10px;
            }
            &:hover{
           transform: scale(1.1);
        transition: 0.6s;
        }
        }
}
}
}




.general {
    display: flex;
    gap: 40px;
}

.general p {
    color: var(--yellow);
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    padding-top: 80px;
}

.general span {
    font-size: var(--spacing-small);
    color: white;
    font-weight: 500;
    position: relative;
    bottom: 30px;

}

.hero-content{
    .logo-company{
        animation: company 2s ease-in-out alternate;
        display: flex;
        justify-content: center;
        gap: 72px;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 40px;
        
    }
}

.hero-img{
    animation: hero-img 2s ease-in-out alternate;
    position: relative;
    .hero-sub-img{
        position: absolute;
        top: 310px;
        left: -60px;
        width: 175px;
    }
    .star-hero{
        position: absolute;
        top: 195px;
        left: -120px;
        animation: star-img 2s ease-in-out alternate 3;

    }
}