@import './reset.css';
@import './vars.css';
@import './header.css';
@import './hero.css';
@import './keyframes.css';
@import './media.css';
@import './people.css';
<<<<<<< HEAD
@import './expert.css';

=======
>>>>>>> ccf803eeb3de89913cb903988533edb2e802f2fc


*{
    font-family: 'DM Sans', sans-serif;
}