@import './reset.css';
@import './vars.css';
@import './header.css';
@import './hero.css';
@import './keyframes.css';
@import './media.css';
@import './people.css';
@import './expert.css';
@import './aziza.css';
@import './project.css';
@import './review.css';
@import './register.css';
@import './footer.css';






*{
    font-family: 'DM Sans', sans-serif;
}