@keyframes shine{
    to{
        background-position: 200% 0;
    }
}

@keyframes hero-text{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hero-img{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes star-img{
    0%{
        opacity: 0;
        transform: scale(0);
        transform: rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        transform: rotate(90deg);
    }
}


@keyframes header {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes company {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}