
.register-hero {
  padding: 80px 0;

  .all-div {
    display: flex;
    justify-content: space-around;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      font-weight: 400;
      font-size: 16px;
      width: 158px;
      height: 42px;
      border-radius: 100px;
      background-color: #f0e71433;
      margin-bottom: 20px;
    }
    button:hover {
      background-color: #adc54533;
    }

    h1 {
      font-weight: 900;
      font-size: 34px;
      margin-bottom: 20px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #555c68;
    }
    .located {
      display: flex;
      align-items: start;
      text-align: start;
      gap: 8px;
      margin-top: 30px;
      color: #555c68;
    }
    .located:hover {
      cursor: pointer;
      p {
        color: #d6d60f;
      }
    }
    .contact {
      display: flex;
      gap: 5px;
      margin-top: 10px;
      color: #555c68;
    }
    .contact:hover {
      cursor: pointer;
      p {
        color: #d6d60f;
      }
    }
    .email {
      display: flex;
      gap: 8px;
      margin-top: 10px;
      color: #555c68;
    }
    .email:hover {
      cursor: pointer;
      p {
        color: #d6d60f;
      }
    }
  }

  .right-div {
    background-color: #101c26;
    width: 620px;
    height: 560px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    input {
      width: 540px;
      height: 50px;
      background-color: #15232b;
      border-bottom: 2px solid white;
      margin-bottom: 20px white;
      padding-left: 20px;
      color: #d3d3d3;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    input:hover {
      border-bottom: 2px solid #f0e714;
      background: #050313;
    }

    button {
      width: 180px;
      height: 40px;
      border-radius: 100px;
      background: #f0e714;
      border-radius: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #101c26;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    button:hover {
      background-color: #d6d60f;
    }
  }
}

@media (max-width: 1280px) {
  /* ----NONE---- */
}

@media (max-width: 1040px) {
  .review-hero {
    & .threeth-review {
      & .comment-threeth-user {
        & p {
          font-size: 12px;
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }
    & .second-review {
      & .comment-second-user {
        & p {
          font-size: 12px;
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }

    & .comment {
      & .first-review {
        & .comment-first-user {
          p {
            font-weight: 500;
            font-size: 12px;
          }
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }
  }
  .register-hero {
    & .left-div {
      p {
        font-size: 15px;
      }
      h1 {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 800px) {
  .review-hero {
    & .comment {
      flex-direction: column;
      & .first-review,
      & .second-review,
      & .threeth-review {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .register-hero {
    & .all-div {
      flex-direction: column;
      gap: 40px;
    }
    & .right-div {
      width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .register-hero {
    & .right-div {
      input {
        width: 300px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 320px) {
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 50px;
  }
  .register-hero {
    & .right-div {
      input {
        width: 220px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 580px) {
  .register-hero {
    & .right-div {
      input {
        width: 260px;
        height: 50px;
      }
    }
  }
}
