
#review-hero {
  background: #f3f4f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.review-hero {
  padding: 20px 0;

  .title-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 56px;
    h2 {
      font-weight: 600;
      font-size: 30px;
    }
    p {
      font-weight: 400;
      font-size: 15px;
    }
    .chuvaki {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 40px;
      background-color: #f0e71433;
      border-radius: 10px;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .first-review {
      position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 480px;
      height: 338px;
      border-radius: 10px;

      .comment-first-user {
        padding: 10px;

        p {
          font-weight: 500;
          font-size: 14px;
        }

        .down {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          top: 86%;
          left: 90%;
        }
        .up1 {
          position: absolute;
          top: 47%;
        }
      }

      .first-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
      }
      .user-text {
        display: flex;
        align-items: center;
        flex-direction: column;

        .popolyam {
          color: #8791a0;
          font-weight: 500;
          font-size: 12px;
        }
      }
      &:hover{
            transform: scale(1.1);
            transition: 0.6s;
        }
    }
  }

  .second-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 480px;
    height: 338px;
    border-radius: 10px;

    .comment-second-user {
      padding: 10px;
      display: flex;
      text-align: center;
      flex-direction: column;
      p {
        font-weight: 500;
        font-size: 14px;
        display: flex;
        text-align: center;

        .down {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          top: 86%;
          left: 90%;
        }
        .up1 {
          position: absolute;
          top: 47%;
        }
      }
    }

    .second-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
    }
    .user-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .popolyam {
        color: #8791a0;
        font-weight: 500;
        font-size: 12px;
      }
    }
    &:hover{
            transform: scale(1.1);
            transition: 0.6s;
        }
  }

  .threeth-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 480px;
    height: 338px;
    border-radius: 10px;

    .comment-threeth-user {
      padding: 10px;
      padding-block: 10px;
      p {
        font-weight: 500;
        font-size: 14px;

        .down {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          top: 86%;
          left: 90%;
        }
        .up1 {
          position: absolute;
          top: 47%;
        }
      }
    }

    .threeth-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
    }
    .user-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .popolyam {
        color: #8791a0;
        font-weight: 500;
        font-size: 12px;
      }
    }
    &:hover{
            transform: scale(1.1);
            transition: 0.6s;
        }
  }
}

.view-section-img {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}


@media (max-width: 1280px) {
  /* ----NONE---- */
}

@media (max-width: 1040px) {
  .review-hero {
    & .threeth-review {
      & .comment-threeth-user {
        & p {
          font-size: 12px;
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }
    & .second-review {
      & .comment-second-user {
        & p {
          font-size: 12px;
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }

    & .comment {
      & .first-review {
        & .comment-first-user {
          p {
            font-weight: 500;
            font-size: 12px;
          }
          .up1 {
            width: 20px;
          }
          .down {
            width: 20px;
          }
        }
      }
    }
  }
  .register-hero {
    & .left-div {
      p {
        font-size: 15px;
      }
      h1 {
        font-size: 28px;
      }
    }
  }
}


@media (max-width: 800px) {
  .review-hero {
    & .comment {
      flex-direction: column;
      & .first-review,
      & .second-review,
      & .threeth-review {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .register-hero {
    & .all-div {
      flex-direction: column;
      gap: 40px;
    }
    & .right-div {
      width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .register-hero {
    & .right-div {
      input {
        width: 300px;
        height: 50px;
      }
    }
  }
}



@media (max-width: 580px) {
  .register-hero {
    & .right-div {
      input {
        width: 260px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 500px) {
  & .title-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 56px;
    h2 {
      font-weight: 600;
      font-size: 30px;
    }
     p {
      font-weight: 400;
      font-size: 10px !important;
    }
    .chuvaki {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 40px;
      background-color: #f0e71433;
      border-radius: 10px;
      font-weight: 400;
      font-size: 16px;
    }
  }
  }