:root {
    --background: #101C26;
    --spacing-small: 16px;
    --spacing-medium: 20px;
    --spacing-large: 60px;
}

:root {
    --blue-1: #3772FF;
    --a-tag: #BAB9B9;
    --yellow: #F0E714;
    --yellow-light: #F0E71433;
    --dark-light: #24272E;
    --ETH-color: #45B26B;
}
